@use "../abstract/" as *;
@use "../base/" as *;

.items
{
    padding: 1rem 7%;

    @include break-point(portatil)
    {
        padding: 0;
    }

    &__title-secondary
    {
        color: $orange;
        text-transform: uppercase;
        font-size: .8rem;
        letter-spacing: 1px;

    }

    &__title-primary
    {
        margin-top: .5rem;
        color: $very-dark-blue;
        line-height: 1.2;
        font-size: 1.7rem;

        @include break-point(portatil)
        {
            font-size: 2.5rem;
            width: 65%;
        }
    }

    &__text
    {
        margin-top: 1rem;
        font-size: $size-paragraph;
        color: $dark-grayish-blue;

        @include break-point(portatil)
        {
            width: 70%;
            line-height: 1.7;
            margin-top: 1.5rem;
        }
    }

    &__price
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1rem;

        @include break-point(movil-L)
        {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__price-current
    {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__price-old
    {
        margin-right: .7rem;
    }

    &__price-125
    {
        font-size: 1.7rem;
        color: $black;
    }

    &__price-50
    {
        color: $orange;
        background: $pale-orange;
        padding: 0 .5rem;
        border-radius: .5rem;
    }

    &__price-250
    {
        color: $grayish-blue;
        font-size: .9rem;
        text-decoration: line-through;
    }
    &__amount-button
    {
        @include break-point(movil-L)
        {
            display: flex;
            align-items: center;
            gap: 2rem;
            margin-bottom: 2rem;
        }

        @include break-point(tablet)
        {
            width: 55%;
            margin: 0 auto 2rem;
        }

        @include break-point(portatil)
        {
            width: 70%;
            margin: 1rem 0;
            gap: 1rem;
        }
    }

    &__amount
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1rem auto 0;
        background: $light-grayish-blue;
        padding: .7rem;
        border-radius: .7rem;

        @include break-point(movil-L)
        {
            width: 50%;
        }

        @include break-point(portatil)
        {
            width: 65%;
        }
    }

    &__icon
    {
        margin: 0 1rem;
        cursor: pointer;

        &:hover
        {
            opacity: .7;
        }

        @include break-point(movil-L)
        {
            margin: .5rem;
        }
    }

    &__button
    {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin: 1rem auto 3rem;
        cursor: pointer;
        background: $orange;
        color: $white;
        font-size: .9rem;
        border: none; outline: none;
        padding: .8rem;
        border-radius: .7rem;
        box-shadow: 0 20px 25px rgba($color: $orange, $alpha: .2);

        &:hover
        {
            opacity: .7;
        }

        @include break-point(movil-L)
        {
            margin: 1rem auto 0;
        }
    }

    &__icon-cart
    {
        filter:  brightness(0) invert(1);
        width: 15px;
    }
}