@use "../abstract/" as *;
@use "../base/" as *;

.modal
{
    position: absolute;
    top: 15%; right: 0; left: 0;
    margin: auto;
    max-width: 22rem;
    height: 37vh;
    background: $white;
    border-radius: .5rem;
    box-shadow: 0 5px 10px rgba($color: $black, $alpha: .2);
    display: none;

    @include break-point(movil-S)
    {
        width: 95%;
    }

    @include break-point(tablet)
    {
        top: 10%;
        margin-right: 4rem;
    }

    &.block
    {
        display: block;
        animation: fadeIn;
        animation-duration: .7s;
    }

    &__title
    {
        padding: 1.2rem 1.5rem .7rem;
    }

    &__linea
    {
        display: block;
        width: 100%;
        height: 1px;
        border: none;
        background: rgba($color: $grayish-blue, $alpha: .5);
    }

    &__text
    {
        text-align: center;
        transform: translateY(3.5rem);
        font-family: inherit;
        font-weight: map-get($weights, bold);
        color: $dark-grayish-blue;
        display: none;

        &.empty
        {
            display: block;
        }
    }

    &__carrito
    {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 1.5rem auto 0;
        text-align: center;
        padding: 0 1rem;
        // display: none;
    }

    &__img
    {
        img
        {
            width: 3.2rem;
            border-radius: .3rem;
        }
    }

    &__name
    {
        font-size: .9rem;
        color: rgba($color: $very-dark-blue, $alpha: .5);
        font-family: $font-primary;
        font-weight: map-get($weights, bold);
    }

    &__number
    {
        color: rgba($color: $very-dark-blue, $alpha: .5);
        font-family: $font-primary;
        font-weight: map-get($weights, bold);
    }

    &__price
    {
        transform: translateX(-1rem);

        @include break-point (movil-S)
        {
            transform: translateX(0rem);
        }
    }

    &__total
    {
        display: flex;
        gap: .5rem;
        font-size: .9rem;
    }

    &__delete
    {
        cursor: pointer;

        &:hover
        {
            transform: scale(1.1);
            opacity: .7;
        }
    }

    &__button
    {
        display: block;
        margin: 1.5rem auto 0;
        width: 85%;
        font-size: .9rem;
        padding: .9rem;
        border: none; outline: none;
        background: $orange;
        color: $white;
        border-radius: .5rem;
        cursor: pointer;

        &:hover
        {
            opacity: .7;
        }
    }
}