@mixin break-point($breakpoint) {

    @if $breakpoint == movil-S {
        @media screen and (min-width: 320px) { @content }
    }

    @if $breakpoint == movil-L {
        @media screen and (min-width: 550px) { @content }
    }

    @if $breakpoint == tablet {
        @media screen and (min-width: 800px) { @content }
    }

    @if $breakpoint == portatil {
        @media screen and (min-width: 1048px) { @content }
    }
}